* {
    padding: 0px;
    margin: 0px;
    outline: 0px;
 }
 

.infoContainer { 
    background: rgb(255, 255, 255); 
    padding: 80px; 

    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 50px 50px 60px;
    grid-template-areas:
       "title title title image image image"
       "name name name image image image"
       "typed self-typed self-typed image image image"
       "cv cv cv image image image";
    grid-row-gap: 0px;
    grid-column-gap: 100px;
}  

.hello { 
    grid-area: title;
    font-size: 70px;
    color: rgb(49, 49, 49);
    padding-left: 60px;
    position: relative;

    animation-name: hello;
    animation-duration: 1.7s;
} 

@keyframes hello { 
    0% { left: 0px; } 
    50% { 
        left: 50px; 
        color: rgb(51, 222, 228);
    } 
    70% { 
        left: -20px; 
        color: rgb(24, 214, 126);
    } 
    85% { 
        left: 18px; 
        color: rgb(24, 214, 126);
    } 
    100% { 
        left: 0px; 
        color: rgb(49, 49, 49);
    } 
} 



.name { 
    grid-area: name;
    font-size: 33px;
    color: rgb(29, 29, 29);
    padding-left: 60px;
}
 
.typed { 
    grid-area: typed;
    font-size: 24px;
    color: rgb(68, 68, 68);
    padding-left: 60px;
} 
.self-typed { 
    grid-area: self-typed;
    font-size: 24px;
    color: rgb(68, 68, 68);
    position: relative;
    left: -92px;
} 


.name, .typed, .self-typed { 
    animation-name: fade;
    animation-duration: 2.5s;
} 


@keyframes fade { 
    0% { 
        opacity: 0.1;
    } 
    100% { 
        opacity: 1;
    } 
} 

 
.cv { 
    grid-area: cv;
    width: 150px;
    height: 40px; 
    position: relative;
    left: 60px;

    animation-name: drag;
    animation-duration: 2s;
}

@keyframes drag {
    0% {
        left: -1000px;
    } 
    60% {
        left: -500px;
    }
    100% {
        left: 60px;
    }
}




img { 
    grid-area: image;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0px 0px 40px 5px rgb(211, 211, 211);
    position: relative;
    left: 70px;
}



// Media Query
// Small laptop
@media screen and (max-width: 1024px) {
    .typed { 
        grid-area: typed;
        font-size: 20px;
        color: rgb(68, 68, 68);
        padding-left: 60px;
    } 
    .self-typed { 
        grid-area: self-typed;
        font-size: 20px;
        // font-weight: bold;
        color: rgb(68, 68, 68);
        position: relative;
        left: -92px;
    } 
} 




// Big mobile
@media screen and (max-width: 1000px) { 
    .infoContainer { 
        // width: 75%; 
        // margin: 0 auto; 
        background: rgb(255, 255, 255); 
        padding: 40px; 
        
        display: grid; 
        grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 40px 50px 50px;
        grid-template-areas:
           "title title title image image image"
           "name name name image image image"
           "typed self-typed self-typed image image image"
           "cv cv cv image image image";
        grid-row-gap: 0px;
        grid-column-gap: 10px;
    }  
    .hello { 
        grid-area: title;
        font-size: 30px;
        color: rgb(49, 49, 49);
        padding-left: 25px;
    }
     
    .name { 
        grid-area: name;
        font-size: 28px;
        color: rgb(29, 29, 29);
        padding-left: 25px;
    }
    .typed { 
        grid-area: typed;
        font-size: 18px;
        color: rgb(68, 68, 68);
        padding-left: 25px;
    } 
    .self-typed { 
        grid-area: self-typed;
        font-size: 18px;
        color: rgb(68, 68, 68);
        position: relative;
        left: -12px;
    } 
    img { 
        grid-area: image;
        height: 200px;
        border-radius: 50%;
        box-shadow: 0px 0px 40px 5px rgb(211, 211, 211);
        position: relative;
        left: 100px;
    } 
    .cv { 
        grid-area: cv;
        width: 150px;
        height: 40px; 
        position: relative;
        left: 25px;
        animation-name: drag;
        animation-duration: 2s;
    }
    
    @keyframes drag { 
        0% { left: -1000px; } 
        60% { left: -500px; } 
        100% { left: 25px; } 
    } 
} 



// Big mobile
@media screen and (max-width: 990px) { 
    .infoContainer { 
        // width: 75%; 
        // margin: 0 auto; 
        background: rgb(255, 255, 255); 
        padding: 40px; 
        
        display: grid; 
        grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 60px 40px 50px 50px;
        grid-template-areas:
           "title title title image image image"
           "name name name image image image"
           "typed self-typed self-typed image image image"
           "cv cv cv image image image";
        grid-row-gap: 0px;
        grid-column-gap: 10px;
    }  
    .hello { 
        grid-area: title;
        font-size: 30px;
        color: rgb(49, 49, 49);
        padding-left: 25px;
    }
     
    .name { 
        grid-area: name;
        font-size: 25px;
        color: rgb(29, 29, 29);
        padding-left: 25px;
    }
    .typed { 
        grid-area: typed;
        font-size: 18px;
        color: rgb(68, 68, 68);
        padding-left: 25px;
    } 
    .self-typed { 
        grid-area: self-typed;
        font-size: 18px;
        color: rgb(68, 68, 68);
        position: relative;
        left: -12px;
    } 
    img { 
        grid-area: image;
        height: 200px;
        border-radius: 50%;
        box-shadow: 0px 0px 40px 5px rgb(211, 211, 211);
        position: relative;
        left: 100px;
    } 
    .cv { 
        grid-area: cv;
        width: 150px;
        height: 40px; 
        position: relative;
        left: 25px;
        animation-name: drag;
        animation-duration: 2s;
    }
    
    @keyframes drag { 
        0% { left: -1000px; } 
        60% { left: -500px; } 
        100% { left: 25px; } 
    } 
} 






// Big mobile
@media screen and (max-width: 900px) { 
    .infoContainer { 
        // width: 75%; 
        // margin: 0 auto; 
        background: rgb(255, 255, 255); 
        padding: 40px; 
        
        display: grid; 
        grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 40px 50px 50px;
        grid-template-areas:
           "title title title image image image"
           "name name name image image image"
           "typed self-typed self-typed image image image"
           "cv cv cv image image image";
        grid-row-gap: 0px;
        grid-column-gap: 10px;
    }  
    .hello { 
        grid-area: title;
        font-size: 30px;
        color: rgb(49, 49, 49);
        padding-left: 25px;
    }
     
    .name { 
        grid-area: name;
        font-size: 25px;
        color: rgb(29, 29, 29);
        padding-left: 25px;
    }
    .typed { 
        grid-area: typed;
        font-size: 18px;
        color: rgb(68, 68, 68);
        padding-left: 25px;
    } 
    .self-typed { 
        grid-area: self-typed;
        font-size: 18px;
        color: rgb(68, 68, 68);
        position: relative;
        left: -12px;
    } 
    img { 
        grid-area: image;
        height: 200px;
        border-radius: 50%;
        box-shadow: 0px 0px 40px 5px rgb(211, 211, 211);
        position: relative;
        // left: 50px;
    } 
    .cv { 
        grid-area: cv;
        width: 150px;
        height: 40px; 
        position: relative;
        left: 25px;
        animation-name: drag;
        animation-duration: 2s;
    }
    

    @keyframes drag { 
        0% { left: -1000px; } 
        60% { left: -500px; } 
        100% { left: 25px; } 
    } 
} 


// Big mobile
@media screen and (max-width: 800px) { 
    .infoContainer { 
        // width: 75%; 
        // margin: 0 auto; 
        background: rgb(255, 255, 255); 
        padding: 40px; 
        
        display: grid; 
        grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 30px 50px 50px;
        grid-template-areas:
           "title title title image image image"
           "name name name image image image"
           "typed self-typed self-typed image image image"
           "cv cv cv image image image";
        grid-row-gap: 0px;
        grid-column-gap: 10px;
    }  
    .hello { 
        grid-area: title;
        font-size: 30px;
        color: rgb(29, 29, 29);
        padding-left: 25px;
    }
     
    .name { 
        grid-area: name;
        font-size: 22px;
        color: rgb(49, 49, 49);
        padding-left: 25px;
    }
    .typed { 
        grid-area: typed;
        font-size: 18px;
        color: rgb(68, 68, 68);
        padding-left: 25px;
    } 
    .self-typed { 
        grid-area: self-typed;
        font-size: 18px;
        color: rgb(68, 68, 68);
        position: relative;
        left: -15px;
    } 
    img { 
        grid-area: image;
        height: 180px;
        border-radius: 50%;
        box-shadow: 0px 0px 40px 5px rgb(211, 211, 211);
        position: relative;
        // left: 50px;
    } 
    .cv { 
        grid-area: cv;
        width: 150px;
        height: 40px; 
        position: relative;
        left: 25px;
        animation-name: drag;
        animation-duration: 2s;
    } 
    
    @keyframes drag { 
        0% { left: -1000px; } 
        60% { left: -500px; } 
        100% { left: 25px; } 
    } 
} 

// Big mobile
@media screen and (max-width: 770px) { 
    .infoContainer { 
        // width: 75%; 
        // margin: 0 auto; 
        background: rgb(255, 255, 255); 
        padding: 40px; 
        
        display: grid; 
        grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 30px 50px 50px;
        grid-template-areas:
           "title title title image image image"
           "name name name image image image"
           "typed self-typed self-typed image image image"
           "cv cv cv image image image";
        grid-row-gap: 0px;
        grid-column-gap: 10px;
    }  
    .hello { 
        grid-area: title;
        font-size: 30px;
        color: rgb(49, 49, 49);
        padding-left: 5px;
    }
     
    .name { 
        grid-area: name;
        font-size: 21px;
        color: rgb(29, 29, 29);
        padding-left: 5px;
    }
    .typed { 
        grid-area: typed;
        font-size: 16px;
        color: rgb(68, 68, 68);
        padding-left: 5px;
    } 
    .self-typed { 
        grid-area: self-typed;
        font-size: 16px;
        color: rgb(68, 68, 68);
        position: relative;
        left: -40px;
    } 

    
    img { 
        grid-area: image;
        height: 180px;
        border-radius: 50%;
        box-shadow: 0px 0px 40px 5px rgb(211, 211, 211);
        position: relative;
        left: 50px;
    } 
    .cv { 
        grid-area: cv;
        width: 150px;
        height: 40px; 
        position: relative;
        left: 5px;
        animation-name: drag;
        animation-duration: 2s;
    } 

    
    @keyframes drag {
        0% { left: -1000px; } 
        60% { left: -600px; }
        100% { left: 5px; }
    }
} 


// Big mobile
@media screen and (max-width: 650px) { 
    .infoContainer { 
        // width: 100%; 
        // margin: 0 auto; 
        background: rgb(255, 255, 255); 
        padding: 40px; 
        
        display: grid; 
        grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 30px 50px 50px;
        grid-template-areas:
           "title title title image image image"
           "name name name image image image"
           "typed self-typed self-typed image image image"
           "cv cv cv image image image";
        grid-row-gap: 0px;
        grid-column-gap: 10px;
    }  
    .hello { 
        grid-area: title;
        font-size: 30px;
        color: rgb(49, 49, 49);
        padding-left: 5px;
    }
     
    .name { 
        grid-area: name;
        font-size: 18px;
        color: rgb(29, 29, 29);
        padding-left: 5px;
    }
    .typed { 
        grid-area: typed;
        font-size: 15px;
        color: rgb(68, 68, 68);
        padding-left: 5px;
    } 
    .self-typed { 
        grid-area: self-typed;
        font-size: 15px;
        color: rgb(68, 68, 68);
        position: relative;
        left: -43px;
    } 
    img { 
        grid-area: image;
        height: 180px;
        border-radius: 50%;
        box-shadow: 0px 0px 40px 5px rgb(211, 211, 211);
        position: relative;
        // left: 50px;
    } 
    .cv { 
        grid-area: cv;
        width: 150px;
        height: 40px; 
        position: relative;
        left: 5px;
        animation-name: drag;
        animation-duration: 2s;
    } 
    
    @keyframes drag {
        0% { left: -1000px; } 
        60% { left: -600px; }
        100% { left: 5px; }
    }
} 

// Big mobile
@media screen and (max-width: 600px) { 
    .infoContainer { 
        // width: 100%; 
        // margin: 0 auto; 
        background: rgb(255, 255, 255); 
        padding: 40px; 
        
        display: grid; 
        grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 30px 50px 50px;
        grid-template-areas:
           "title title title image image image"
           "name name name image image image"
           "typed self-typed self-typed image image image"
           "cv cv cv image image image";
        grid-row-gap: 0px;
        grid-column-gap: 10px;
    }  
    .hello { 
        grid-area: title;
        font-size: 30px;
        color: rgb(49, 49, 49);
        padding-left: 5px;
    }   
    .name { 
        grid-area: name;
        font-size: 18px;
        color: rgb(29, 29, 29);
        padding-left: 5px;
    }
    .typed { 
        grid-area: typed;
        font-size: 15px;
        color: rgb(68, 68, 68);
        padding-left: 5px;
    } 
    .self-typed { 
        grid-area: self-typed;
        font-size: 15px;
        color: rgb(68, 68, 68);
        position: relative;
        left: -43px;
    } 
    img { 
        grid-area: image;
        height: 170px;
        border-radius: 50%;
        box-shadow: 0px 0px 40px 5px rgb(211, 211, 211);
        position: relative;
        // left: 50px;
    } 
    .cv { 
        grid-area: cv;
        width: 150px;
        height: 40px; 
        position: relative;
        left: 5px;
    }
    
} 



// Big mobile
@media screen and (max-width: 500px) { 
    .infoContainer { 
        // width: 100%; 
        // margin: 0 auto; 
        background: rgb(255, 255, 255); 
        padding: 40px; 
        
        display: grid; 
        grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 30px 50px 50px;
        grid-template-areas:
           "title title title image image image"
           "name name name image image image"
           "typed self-typed self-typed image image image"
           "cv cv cv image image image";
        grid-row-gap: 0px;
        grid-column-gap: 10px;
    }  
    .hello { 
        grid-area: title;
        font-size: 30px;
        color: rgb(49, 49, 49);
        padding-left: 5px;
    }
     
    .name { 
        grid-area: name;
        font-size: 18px;
        color: rgb(29, 29, 29);
        padding-left: 5px;
    }
    .typed { 
        grid-area: typed;
        font-size: 15px;
        color: rgb(68, 68, 68);
        padding-left: 5px;
    } 
    .self-typed { 
        grid-area: self-typed;
        font-size: 15px;
        color: rgb(68, 68, 68);
        position: relative;
        left: -43px;
    } 
    img { 
        grid-area: image;
        height: 160px;
        border-radius: 50%;
        box-shadow: 0px 0px 40px 5px rgb(211, 211, 211);
        position: relative;
        left: 30px;
    } 
    .cv { 
        grid-area: cv;
        width: 150px;
        height: 40px; 
        position: relative;
        left: 5px;
    }
} 

// Big mobile
@media screen and (max-width: 425px) { 
    .infoContainer { 
        // width: 100%; 
        // margin: 0 auto; 
        background: rgb(255, 255, 255); 
        padding: 40px; 
        
        display: grid; 
        grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 30px 50px 50px;
        grid-template-areas:
           "title title title image image image"
           "name name name image image image"
           "typed self-typed self-typed image image image"
           "cv cv cv image image image";
        grid-row-gap: 0px;
        grid-column-gap: 10px;
    }  
    .hello { 
        grid-area: title;
        font-size: 30px;
        color: rgb(49, 49, 49);
        padding-left: 5px;
    }
     
    .name { 
        grid-area: name;
        font-size: 18px;
        color: rgb(29, 29, 29);
        padding-left: 5px;
    }
    .typed { 
        grid-area: typed;
        font-size: 15px;
        color: rgb(68, 68, 68);
        padding-left: 5px;
    } 
    .self-typed { 
        grid-area: self-typed;
        font-size: 15px;
        color: rgb(68, 68, 68);
        position: relative;
        left: -43px;
    } 
    img { 
        grid-area: image;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0px 0px 40px 5px rgb(211, 211, 211);
        position: relative;
        left: 10px;
    } 
    .cv { 
        grid-area: cv;
        width: 150px;
        height: 40px; 
        position: relative;
        left: 5px;
    }
}



// Big mobile
@media screen and (max-width: 404px) { 
    .infoContainer { 
        // width: 100%; 
        // margin: 0 auto; 
        background: rgb(255, 255, 255); 
        padding: 40px; 
        
        display: grid; 
        grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 50px 60px 50px 50px;
        grid-template-areas:
           "title title title image image image"
           "name name name image image image"
           "typed self-typed self-typed image image image"
           "cv cv cv image image image";
        grid-row-gap: 0px;
        grid-column-gap: 10px;
    }  
    .hello { 
        grid-area: title;
        font-size: 30px;
        color: rgb(49, 49, 49);
        padding-left: 5px;
    }
     
    .name { 
        grid-area: name;
        font-size: 18px;
        color: rgb(29, 29, 29);
        padding-left: 5px;
    }
    .typed { 
        grid-area: typed;
        font-size: 15px;
        color: rgb(68, 68, 68);
        padding-left: 5px;
    } 
    .self-typed { 
        grid-area: self-typed;
        font-size: 15px;
        color: rgb(68, 68, 68);
        position: relative;
        left: -43px;
    } 
    img { 
        grid-area: image;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0px 0px 40px 5px rgb(211, 211, 211);
        position: relative;
        left: 10px;
    } 
    .cv { 
        grid-area: cv;
        width: 150px;
        height: 40px; 
        position: relative;
        left: 5px;
    }
}





// Middum mobile
@media screen and (max-width: 375px) { 
    .infoContainer { 
        // width: 100%; 
        // margin: 0 auto; 
        background: rgb(255, 255, 255); 
        padding: 20px; 
        
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 50px 50px 50px;
        grid-template-areas:
           "image image image"
           "name name name"
           "typed self-typed self-typed"
           "cv cv cv";
        grid-row-gap: 0px;
        grid-column-gap: 10px;
    }  
    .hello { 
        grid-area: title;
        font-size: 30px;
        color: rgb(49, 49, 49);
        padding-left: 5px;
        display: none;
    }
     
    .name { 
        grid-area: name;
        font-size: 25px;
        color: rgb(29, 29, 29);
        padding-left: 5px;
        line-height: 50px;
    }
    .typed { 
        grid-area: typed;
        font-size: 18px;
        color: rgb(68, 68, 68);
        padding-left: 5px;
    } 
    .self-typed { 
        grid-area: self-typed;
        font-size: 18px;
        color: rgb(68, 68, 68);
        position: relative;
        left: -37px;
    } 
    img { 
        grid-area: image;
        height: 340px;
        border-radius: 1%;
        position: relative;
        box-shadow: 0px 0px 0px 0px;
    } 
    .cv { 
        grid-area: cv;
        height: 40px; 
        width: 100%;
        position: relative;
        left: 5px;
        padding-right: 10px;
    }
}


// Middum mobile
@media screen and (max-width: 355px) { 
    .infoContainer { 
        // width: 100%; 
        // margin: 0 auto; 
        background: rgb(255, 255, 255); 
        padding: 20px; 
        
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 50px 50px 50px;
        grid-template-areas:
           "image image image"
           "name name name"
           "typed self-typed self-typed"
           "cv cv cv";
        grid-row-gap: 0px;
        grid-column-gap: 10px;
    }  
    .hello { 
        grid-area: title;
        font-size: 30px;
        color: rgb(49, 49, 49);
        padding-left: 5px;
        display: none;
    }
     
    .name { 
        grid-area: name;
        font-size: 25px;
        color: rgb(29, 29, 29);
        padding-left: 5px;
        line-height: 50px;
    }
    .typed { 
        grid-area: typed;
        font-size: 18px;
        color: rgb(68, 68, 68);
        padding-left: 5px;
    } 
    .self-typed { 
        grid-area: self-typed;
        font-size: 18px;
        color: rgb(68, 68, 68);
        position: relative;
        left: -30px;
    } 
    img { 
        grid-area: image;
        height: 340px;
        border-radius: 1%;
        position: relative;
        box-shadow: 0px 0px 0px 0px;
    } 
    .cv { 
        grid-area: cv;
        height: 40px; 
        width: 100%;
        position: relative;
        left: 5px;
        padding-right: 10px;
    }
}



// Small mobile
@media screen and (max-width: 330px) { 
    .infoContainer { 
        // width: 100%; 
        // margin: 0 auto; 
        background: rgb(255, 255, 255); 
        padding: 20px; 
        
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 50px 50px 50px;
        grid-template-areas:
           "image image image"
           "name name name"
           "typed self-typed self-typed"
           "cv cv cv";
        grid-row-gap: 0px;
        grid-column-gap: 10px;
    }  
    .hello { 
        grid-area: title;
        font-size: 30px;
        color: rgb(49, 49, 49);
        padding-left: 5px;
        display: none;
    }
     
    .name { 
        grid-area: name;
        font-size: 20px;
        color: rgb(29, 29, 29);
        padding-left: 5px;
        line-height: 50px;
    }
    .typed { 
        grid-area: typed;
        font-size: 18px;
        color: rgb(68, 68, 68);
        padding-left: 5px;
    } 
    .self-typed { 
        grid-area: self-typed;
        font-size: 18px;
        color: rgb(68, 68, 68);
        position: relative;
        left: -22px;
    } 
    img { 
        grid-area: image;
        height: 300px;
        border-radius: 1%;
        position: relative;
        box-shadow: 0px 0px 0px 0px;
    } 
    .cv { 
        grid-area: cv;
        height: 40px; 
        width: 100%;
        position: relative;
        left: 5px;
        padding-right: 10px;
    }
}


@media screen and (max-width: 315px) { 
    .infoContainer { 
        // width: 100%; 
        // margin: 0 auto; 
        background: rgb(255, 255, 255); 
        padding: 20px; 
        
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 50px 50px 50px;
        grid-template-areas:
           "image image image"
           "name name name"
           "typed self-typed self-typed"
           "cv cv cv";
        grid-row-gap: 0px;
        grid-column-gap: 10px;
    }  
    .hello { 
        grid-area: title;
        font-size: 30px;
        color: rgb(49, 49, 49);
        padding-left: 5px;
        display: none;
    }
     
    .name { 
        grid-area: name;
        font-size: 20px;
        color: rgb(29, 29, 29);
        padding-left: 5px;
        line-height: 50px;
    }
    .typed { 
        grid-area: typed;
        font-size: 18px;
        color: rgb(68, 68, 68);
        padding-left: 5px;
    } 
    .self-typed { 
        grid-area: self-typed;
        font-size: 18px;
        color: rgb(68, 68, 68);
        position: relative;
        left: -18px;
    } 
    img { 
        grid-area: image;
        height: 300px;
        border-radius: 1%;
        position: relative;
        box-shadow: 0px 0px 0px 0px;
    } 
    .cv { 
        grid-area: cv;
        height: 40px; 
        width: 100%;
        position: relative;
        left: 5px;
        padding-right: 10px;
    }
}



// mini mobile
@media screen and (max-width: 300px) { 
    .infoContainer { 
        // width: 100%; 
        // margin: 0 auto; 
        background: rgb(255, 255, 255); 
        padding: 20px; 
        
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 50px 50px 50px;
        grid-template-areas:
           "image image image"
           "name name name"
           "typed self-typed self-typed"
           "cv cv cv";
        grid-row-gap: 0px;
        grid-column-gap: 10px;
    }  
    .hello { 
        grid-area: title;
        font-size: 30px;
        color: rgb(49, 49, 49);
        padding-left: 5px;
        display: none;
    }
     
    .name { 
        grid-area: name;
        font-size: 18px;
        color: rgb(29, 29, 29);
        padding-left: 5px;
        line-height: 50px;
    }
    .typed { 
        grid-area: typed;
        font-size: 18px;
        color: rgb(68, 68, 68);
        padding-left: 5px;
    } 
    .self-typed { 
        grid-area: self-typed;
        font-size: 18px;
        color: rgb(68, 68, 68);
        position: relative;
        left: -15px;
    } 
    img { 
        grid-area: image;
        height: 250px;
        border-radius: 1%;
        position: relative;
        box-shadow: 0px 0px 0px 0px;
    } 
    .cv { 
        grid-area: cv;
        height: 40px; 
        width: 100%;
        position: relative;
        left: 5px;
        padding-right: 10px;
    }
}



